.rgba-gradient {
    background: rgb(57 68 140);
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, rgba(0, 128, 255, 0.9), rgba(255, 255, 255, 0.6));
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, rgba(0, 128, 255, 0.9), rgb(57 68 140));
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.loader_bg{
    position: fixed;
    z-index: 999999;
    background: #fff;
    
    width: 100%;
    height: 100%;
}
.loader{
    border: 0 solid transparent;
/*    background-image: url("https://fllajlombokbaratkab.or.id/img/logofllaj.png");
    background-repeat: no-repeat;
    background-position: center;*/
    border-radius: 50%;
    width: 150px;
    height: 150px;
    position: absolute;
    top: calc(50vh - 75px);
    left: calc(50vw - 75px);
}
.loader:before, .loader:after{
    content: '';
    border: 1em solid #5459ac;
    border-radius: 50%;
    width: inherit;
    height: inherit;
    position: absolute;
    top: 0;
    left: 0;
    animation: loader 2s linear infinite;
    opacity: 0;
}
.loader:before{
    animation-delay: .5s;
}
@keyframes loader{
    0%{
        transform: scale(0);
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        transform: scale(1);
        opacity: 0;
    }
}

/*modal*/
h6 {
  line-height: 1.7;
}

.map-container-9,
.map-container-10,
.map-container-11 {
overflow:hidden;
padding-bottom:56.25%;
position:relative;
height:0;
}
.map-container-9 iframe
.map-container-10 iframe
.map-container-11 iframe{
left:0;
top:0;
height:100%;
width:100%;
position:absolute;
}
/* Required for full background image */

html,
body,
header,
.view {
  height: 100%;
}

@media (max-width: 740px) {
  html,
  body,
  header,
  .view {
    height: 1470px;
  }
}
@media (min-width: 800px) and (max-width: 850px) {
  html,
  body,
  header,
  .view {
    height: 700px;
  }
}

.top-nav-collapse {
  background-color: #39448c !important;
}

.navbar:not(.top-nav-collapse) {
  background: transparent !important;
}

@media (max-width: 991px) {
  .navbar:not(.top-nav-collapse) {
    background: #39448c !important;
  }
}
